html {
  box-sizing: border-box;
  touch-action: manipulation;
}

*, *::before, *::after {
  box-sizing: inherit;
  touch-action: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, th, var {
  font-weight: normal;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

button:focus,
textarea:focus,
input:focus,
select:focus,
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

input, textarea, button {
  border: none;
  outline: none;
  font-family: inherit;
}

input::-webkit-input-placeholder {
  color: #d2d2d2;
}

button {
  user-select: none;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0;
  color: #4a4a4a;
  background-color: #fff;
  word-break: break-all;
}
